body {
  background-color: cadetblue;
  text-decoration: none;
  color: blue;
  font-family: Calibri, sans-serif;
}

a, a:link {
  border-color: mediumpurple;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  transition: all 1s ease;
}

a:hover {
  color: #ff4500;
}

a:visited, a:active {
  color: #800080;
}

img {
  width: 200px;
}

h6 {
  color: gray;
}
.wordle, .flappy-bird, .minesweeper, .snake, .twozerofoureight, .blackjack {
  border-style: solid;
  border-width: 4.7375px;
}

.wordle {
  border-color: #6cab64;
  background-color: #304c68;
  color: #cab456;
}

.flappy-bird {
  border-color: #32c008;
  background-color: #a07098;
  color: #317f0c;
}

.snake {
  border-color: #67c23c;
  background-color: #11200a;
  color: #a3c39c;
}

.twozerofoureight {
  border-color: #e0cc46;
  background-color: #f5603f;
  color: #7e1c06;
}

.blackjack {
  border-color: #94cdbf;
  background-color: #6f7b7b;
  color: #cb927c;
}

.topnav {
  background-color: #333;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
