body {
  background-color: cadetblue;
  text-decoration: none;
  color: blue;
  font-family: Calibri, sans-serif;
  text-align: justify;
}

a, a:link {
  border-color: mediumpurple;
  border-width: 2px;
  border-radius: 10px;
  transition: all 1s ease;
}

a:visited {
  color: #800080;
}

a:hover {
  color: #ff4500;
}

 a:active {
  color: #800080;
}

img {
  width: 200px;
}

h6 {
  color: gray;
}

.other-attributions {
  color: green;
}

.green {
  color: #6cab64;
}

.grey {
  color: grey;
  transition: all 2s ease;
  border-radius: none;
}

#license {
  width: 80px;
}
