body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#game-board {
    background-image: url("./flappybirdbg.png");
}

#home {
    background-color: aqua;
    color: white;
    padding: 12px 28px;
    font-size: 16px;
}

a:link {
    color: red;
}

a:visited {
    color: green;
}
